.color{
    background-color: #2C2C2C;
    color: white;
}

.sparala{
    margin-top: 10px;
    margin-bottom: 10px;
}

.spatore{
    margin-top: 20px;
    margin-bottom: 20px;
}

.sid{
    padding-left: 130px;
    padding-right: 310px;
    display:block;
    background-color: #2C2C2C;
    color: white;
}

.meier{
    border-radius: 100px;
    width: 200px;
    height: 100px;
    margin:auto;
    display:block;
    background-color: #2C2C2C;
    color: white;
}

.wakemeup{
    border-radius: 50px;
}

.elements{
    border-radius: 100px;
    width: 100px;
    height: 100px;
    margin:auto;
    display:block;
    background-color: #2C2C2C;
    color: white;
}