<div class="ml-4 mt-3 mb-3">

  <div *ngFor="let item of items">

    <div class="wakemeup sparala color row mr-5">
      <img class="sparala ml-5" src="./../../../assets/img/{{item.img}}" style="width: 100px; height: 160px;" alt=" ">

      <div class="color spatore col" >
        <h4>{{item.nombre}}</h4>
      </div>

      <div class="color spatore col">
        <h4>{{item.cantidad}}</h4>
      </div>

      <div class="color spatore col">
        <h4>${{item.precio}}</h4>
      </div>

      <div class="elements spatore col">
        <button class="color elements" (click)="DeleteItem(item.id)">Borrar</button>
      </div>
    </div>

  </div>

  <div class="wakemeup color row mr-5">

    <div class="wakemeup col sid">
      <h4 class="sid">Precio total: ${{total}}</h4>
    </div>

    <div class="col">
      <button class="meier">Comprar</button>
    </div>
  </div>
</div>


