
<table *ngFor="let item of items" style="width: 100%">

    <tr class="color">
      <td style="width: 80px"><img src="./../../../assets/img/{{item.img}}" style="width: 100px; height: 160px;" alt=" "></td>
      <td style="width: 30%">{{item.nombre}}</td>
      <td style="width: 30%">{{item.cantidad}}</td>
      <td style="width: 30%">${{item.precio}}</td>
      <td style="width: 30%"><button class="color botonopc table" (click)="DeleteItem(item.id)">Borrar</button></td>
    </tr>

</table>

<p class="color">${{total}}</p>
