<footer class="sector_contacto footer" >
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-2 mb-4">
                <h4>
                    Informacion
                </h4>
                <p>Podes acercarte a nuestra sucursal en Boedo</p>
  
                <p>🏢 Av.la plata 1111</p>
  
                <p>📞 11 11111111</p>
        
  
            
            </div>
  
            <div class="col-md-4 mt-2 mb-4">
  
                <h4>
                    Nosotros
                </h4>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque provident quos laborum odio vitae voluptatem porro sequi debitis, possimus veritatis facere nostrum praesentium ut incidunt reiciendis deserunt optio. Error, veniam?
                </p>
            </div>
  
            <div class="col-md-4 mt-2 mb-4">
                <h4>Contacto</h4>
  
                <p>Email : example@example.com</p>
                <p>Teléfono : 11 111111111</p>
                <p>Horario : Lunes a Viernes de 10 a 17 hs.</p>
            </div>
        </div>
    </div>
  
  </footer>